name: Lint and Generate

on:
  pull_request:
  push:
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: 1.25.x
          cache: true
      - name: setup
        run: |
          go install github.com/projectdiscovery/yamldoc-go/cmd/docgen/dstdocgen@latest
      - name: generate
        run: go run mage.go generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
      - name: markdown
        run: go run mage.go markdown >> $GITHUB_STEP_SUMMARY
