name: Lint and Generate

on:
  pull_request:
  push:
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: 1.25.x
          cache: true
      - name: setup
        run: |
          go install github.com/projectdiscovery/yamldoc-go/cmd/docgen/dstdocgen@latest
      - name: generate
        run: go run mage.go generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
      - name: markdown
        run: go run mage.go markdown >> $GITHUB_STEP_SUMMARY
