name: Lint and Generate

on:
  pull_request:
  push:
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25.x
          cache: true
      - name: setup
        run: |
          go install github.com/projectdiscovery/yamldoc-go/cmd/docgen/dstdocgen@latest
      - name: generate
        run: go run mage.go generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
      - name: markdown
        run: go run mage.go markdown >> $GITHUB_STEP_SUMMARY
